*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main colors that were used*/
:root {
    --primary-color: #333333;
    --secondary-color: rgb(20, 143, 20);
    --tertiary-color: white;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../assets/texture-bgi.jpg);


}

header {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 0.938rem
}

nav ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(0, 182, 0);
    text-decoration: underline;
    transform: scale(1.9);
    text-shadow: 3px 1px 5px rgb(11, 128, 11);
}


/*Here starts the main section*/

main {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tertiary-color);
    background-color: rgb(1, 128, 15);
    margin-bottom: 1.25rem;
    border-radius: 2vw;
    padding: 2vw;
    background: linear-gradient(180deg, rgba(246, 255, 0, 0), rgba(0, 0, 0, 1));
        box-shadow: 0px 0px 15px #39FF14,        
        0px 0px 15px black  inset;
}

.grid-item {
    background-color: #f4f4f4;
    padding: 1.25rem;
    border: 1px solid #ccc;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2.5rem;
    box-shadow: 0px 0px 15px #7b8978;
    /* 0px 0px 15px #86f872 inset; */
}

.grid-item img {
    width: 100%;
    padding-bottom: 5%;
    border-radius: 2rem;
    transition: .1s ease-in;
    filter: grayscale(75%);
}

.grid-item img:hover {
    filter: grayscale(0%);
}


.sub-title {
    text-align: center;
    color: var(--tertiary-color);
    font-size: 4vw;
}

.grid-container h3 {
    text-shadow: 2px 3px 6px black;
}

.t-shirts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5%;
    box-sizing: border-box;
    border: 2px solid cyan;
    box-shadow: 0px 0px 15px black,        
        0px 0px 15px #39FF14 inset;
    border-radius: 1.25rem;
    padding: 3.25rem;
    background: linear-gradient(180deg, rgba(246, 255, 0, 0), rgba(0, 0, 0, 1));
    backdrop-filter: blur(5px);
}


/*Responsive design*/
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .t-shirts {
        grid-template-columns: repeat(2, 1fr);
    }

    nav ul {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        gap: 1%;
    }

    .sub-title { font-size: 6.5vw;}

    .t-shirts {
        grid-template-columns: repeat(1, 1fr);

    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

}


/*Styles for footer section*/
footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    width: 100%;
    padding-block: 1rem;
}